tests/anonimous_example_xsd.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.facturae.gob.es/formato/Versiones/Facturaev3_2_2.xml" targetNamespace="http://www.facturae.gob.es/formato/Versiones/Facturaev3_2_2.xml" version="3.2.2">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>

	<xs:element name="Element_Anon105">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Element_Anon106" type="ComplexType_Anon1">
					</xs:element>
				<xs:element name="Element_Anon107" type="ComplexType_Anon6">
					</xs:element>
				<xs:element name="Element_Anon108" type="ComplexType_Anon8">
					</xs:element>
				<xs:element name="Element_Anon109" type="ComplexType_Anon54" minOccurs="0">
					</xs:element>
				<xs:element ref="ds:Signature" minOccurs="0">
					</xs:element>
			</xs:sequence>
		</xs:complexType>
		
	</xs:element>
	
	<xs:complexType name="ComplexType_Anon1">
		<xs:sequence>
			<xs:element name="Element_Anon110" type="SimpleType_Anon61" default="3.2.2">
				</xs:element>
			<xs:element name="Element_Anon111" type="SimpleType_Anon102">
				</xs:element>
			<xs:element name="Element_Anon112" type="SimpleType_Anon90">
				</xs:element>
			<xs:element name="Element_Anon113" type="ComplexType_Anon2" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon114" type="ComplexType_Anon3">
				</xs:element>
			<xs:element name="Element_Anon115" type="ComplexType_Anon4" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon2">
		<xs:sequence>
			<xs:element name="Element_Anon116" type="ComplexType_Anon37">
				</xs:element>
			<xs:choice>
				<xs:element name="Element_Anon117" type="ComplexType_Anon38">
					</xs:element>
				<xs:element name="Element_Anon118" type="ComplexType_Anon39">
					</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon3">
		<xs:sequence>
			<xs:element name="Element_Anon119" type="SimpleType_Anon78">
				</xs:element>
			<xs:element name="Element_Anon120" type="xs:long">
				</xs:element>
			<xs:element name="Element_Anon121" type="ComplexType_Anon53">
				</xs:element>
			<xs:element name="Element_Anon122" type="ComplexType_Anon53">
				</xs:element>
			<xs:element name="Element_Anon123" type="ComplexType_Anon53">
				</xs:element>
			<xs:element name="Element_Anon124" type="SimpleType_Anon101">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon4">
		<xs:sequence>
			<xs:element name="Element_Anon125" type="ComplexType_Anon5">
				</xs:element>
			<xs:element name="Element_Anon126" type="ComplexType_Anon28">
				</xs:element>
			<xs:element name="Element_Anon127" type="SimpleType_Anon81">
				</xs:element>
			<xs:element name="Element_Anon128" type="ComplexType_Anon57" minOccurs="0" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon5">
		<xs:sequence>
			<xs:element name="Element_Anon116" type="ComplexType_Anon37">
				</xs:element>
			<xs:choice>
				<xs:element name="Element_Anon117" type="ComplexType_Anon38">
					</xs:element>
				<xs:element name="Element_Anon118" type="ComplexType_Anon39">
					</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon6">
		<xs:sequence>
			<xs:element name="Element_Anon129" type="ComplexType_Anon7">
				</xs:element>
			<xs:element name="Element_Anon130" type="ComplexType_Anon7">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon7">
		<xs:sequence>
			<xs:element name="Element_Anon116" type="ComplexType_Anon37">
				</xs:element>
			<xs:element name="Element_Anon131" type="SimpleType_Anon64" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon132" type="ComplexType_Anon44" minOccurs="0">
				</xs:element>
			<xs:choice>
				<xs:element name="Element_Anon117" type="ComplexType_Anon38">
					</xs:element>
				<xs:element name="Element_Anon118" type="ComplexType_Anon39">
					</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon8">
		<xs:sequence>
			<xs:element name="Element_Anon133" type="ComplexType_Anon9" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon9">
		<xs:sequence>
			<xs:element name="Element_Anon134" type="ComplexType_Anon10">
				</xs:element>
			<xs:element name="Element_Anon135" type="ComplexType_Anon11">
				</xs:element>
			
			<xs:element name="Element_Anon136">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Element_Anon137" type="ComplexType_Anon52" maxOccurs="unbounded">
							</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Element_Anon138" type="ComplexType_Anon50" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon139" type="ComplexType_Anon20">
				</xs:element>
			<xs:element name="Element_Anon140" type="ComplexType_Anon12">
				</xs:element>
			<xs:element name="Element_Anon126" type="ComplexType_Anon28" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon141" type="ComplexType_Anon30" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon142" type="ComplexType_Anon31" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon10">
		<xs:sequence>
			<xs:element name="Element_Anon143" type="SimpleType_Anon72">
				</xs:element>
			<xs:element name="Element_Anon144" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon145" type="SimpleType_Anon91">
				</xs:element>
			<xs:element name="Element_Anon146" type="SimpleType_Anon92">
				</xs:element>
			<xs:element name="Element_Anon147" type="ComplexType_Anon14" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon11">
		<xs:sequence>
			<xs:element name="Element_Anon148" type="xs:date">
				</xs:element>
			<xs:element name="Element_Anon149" type="xs:date" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon150" type="ComplexType_Anon15" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon151" type="ComplexType_Anon56" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon124" type="SimpleType_Anon101">
				</xs:element>
			<xs:element name="Element_Anon152" type="ComplexType_Anon13" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon153" type="SimpleType_Anon101">
				</xs:element>
			<xs:element name="Element_Anon154" type="SimpleType_Anon103">
				</xs:element>
			<xs:element name="Element_Anon155" type="SimpleType_Anon81" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon156" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon157" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon158" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon12">
		<xs:sequence>
			<xs:element name="Element_Anon159" type="ComplexType_Anon16" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon13">
		<xs:sequence>
			<xs:element name="Element_Anon160" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon161" type="xs:date">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon14">
		<xs:sequence>
			<xs:element name="Element_Anon143" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon144" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon162" type="SimpleType_Anon93">
				</xs:element>
			<xs:element name="Element_Anon163" type="SimpleType_Anon94">
				</xs:element>
			<xs:element name="Element_Anon164" type="ComplexType_Anon56">
				</xs:element>
			<xs:element name="Element_Anon165" type="SimpleType_Anon95">
				</xs:element>
			<xs:element name="Element_Anon166" type="SimpleType_Anon96">
				</xs:element>
			<xs:element name="Element_Anon167" type="SimpleType_Anon81" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon168" type="xs:date" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon15">
		<xs:sequence>
			<xs:element name="Element_Anon169" type="SimpleType_Anon62">
				</xs:element>
			<xs:element name="Element_Anon170" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon16">
		<xs:sequence>
			<xs:element name="Element_Anon171" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon172" type="xs:date" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon173" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon174" type="xs:date" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon158" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon175" type="xs:date" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon156" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon176" type="xs:date" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon157" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon177" type="xs:date" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon178" type="xs:double" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon179" type="ComplexType_Anon17" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon180" type="SimpleType_Anon81">
				</xs:element>
			<xs:element name="Element_Anon181" type="xs:double">
				</xs:element>
			<xs:element name="Element_Anon182" type="SimpleType_Anon97" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon183" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon184" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon185" type="ComplexType_Anon46" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon186" type="ComplexType_Anon48" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon187" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon138" type="ComplexType_Anon50" minOccurs="0">
				</xs:element>
			
			<xs:element name="Element_Anon136">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Element_Anon137" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="TaxOutputType" />
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Element_Anon188" type="ComplexType_Anon56" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon189" type="xs:date" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon190" type="SimpleType_Anon81" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon191" type="ComplexType_Anon19" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon192" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon109" type="ComplexType_Anon54" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon17">
		<xs:sequence>
			<xs:element name="Element_Anon193" type="ComplexType_Anon18" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon18">
		<xs:sequence>
			<xs:element name="Element_Anon194" type="SimpleType_Anon74">
				</xs:element>
			<xs:element name="Element_Anon195" type="xs:date" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon19">
		<xs:sequence>
			<xs:element name="Element_Anon196" type="SimpleType_Anon104">
				</xs:element>
			<xs:element name="Element_Anon197" type="SimpleType_Anon81">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon20">
		<xs:sequence>
			<xs:element name="Element_Anon198" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon199" type="ComplexType_Anon46" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon200" type="ComplexType_Anon48" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon201" type="SimpleType_Anon67" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon202" type="SimpleType_Anon67" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon203" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon204" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon205" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon206" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon207" type="ComplexType_Anon21" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon208" type="ComplexType_Anon23" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon209" type="ComplexType_Anon26" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon210" type="SimpleType_Anon66" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon122" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon211" type="SimpleType_Anon67" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon212" type="ComplexType_Anon25" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon123" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon213" type="SimpleType_Anon67" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon214" type="ComplexType_Anon59" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon21">
		<xs:sequence>
			<xs:element name="Element_Anon215" type="ComplexType_Anon22" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon22">
		<xs:sequence>
			<xs:element name="Element_Anon216" type="SimpleType_Anon81">
				</xs:element>
			<xs:element name="Element_Anon217" type="SimpleType_Anon67" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon218" type="SimpleType_Anon67">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon23">
		<xs:sequence>
			<xs:element name="Element_Anon219" type="ComplexType_Anon24" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon24">
		<xs:sequence>
			<xs:element name="Element_Anon220" type="xs:date">
				</xs:element>
			<xs:element name="Element_Anon221" type="SimpleType_Anon67">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon25">
		<xs:sequence>
			<xs:element name="Element_Anon222" type="SimpleType_Anon81">
				</xs:element>
			<xs:element name="Element_Anon223" type="SimpleType_Anon67" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon224" type="SimpleType_Anon67">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon26">
		<xs:sequence>
			<xs:element name="Element_Anon209" type="ComplexType_Anon27" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon27">
		<xs:sequence>
			<xs:element name="Element_Anon225" type="ComplexType_Anon37" minOccurs="0" />
			<xs:element name="Element_Anon226" type="ComplexType_Anon37" minOccurs="0" />
			<xs:element name="Element_Anon148" type="xs:date" minOccurs="0" />
			<xs:element name="Element_Anon143" type="SimpleType_Anon72" minOccurs="0" />
			<xs:element name="Element_Anon144" type="SimpleType_Anon72" minOccurs="0" />
			<xs:element name="Element_Anon227" type="SimpleType_Anon67" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon28">
		<xs:sequence>
			<xs:element name="Element_Anon228" type="ComplexType_Anon29" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon29">
		<xs:sequence>
			<xs:element name="Element_Anon229" type="xs:date">
				</xs:element>
			<xs:element name="Element_Anon230" type="SimpleType_Anon66">
				</xs:element>
			<xs:element name="Element_Anon231" type="SimpleType_Anon98">
				</xs:element>
			<xs:element name="Element_Anon232" type="ComplexType_Anon55" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon233" type="SimpleType_Anon77" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon234" type="ComplexType_Anon55" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon235" type="SimpleType_Anon81" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon236" type="SimpleType_Anon63" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon237" type="SimpleType_Anon77" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon30">
		<xs:sequence>
			<xs:element name="Element_Anon238" type="SimpleType_Anon80" minOccurs="0" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon31">
		<xs:sequence>
			<xs:element name="Element_Anon239" type="SimpleType_Anon75" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon240" type="ComplexType_Anon32" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon241" type="SimpleType_Anon81" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon109" type="ComplexType_Anon54" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon32">
		<xs:sequence>
			<xs:element name="Element_Anon242" type="ComplexType_Anon33" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon33">
		<xs:sequence>
			<xs:element name="Element_Anon243" type="SimpleType_Anon34" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon244" type="SimpleType_Anon36">
				</xs:element>
			<xs:element name="Element_Anon245" type="SimpleType_Anon35" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon246" type="SimpleType_Anon81" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon247" type="xs:string">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SimpleType_Anon34">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon35">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon36">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	
	
	
	<xs:complexType name="ComplexType_Anon37">
		<xs:sequence>
			<xs:element name="Element_Anon248" type="SimpleType_Anon88">
				</xs:element>
			<xs:element name="Element_Anon249" type="SimpleType_Anon89">
				</xs:element>
			<xs:element name="Element_Anon250" type="SimpleType_Anon85">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon38">
		<xs:sequence>
			<xs:element name="Element_Anon251" type="SimpleType_Anon79">
				</xs:element>
			<xs:element name="Element_Anon252" type="SimpleType_Anon75" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon253" type="ComplexType_Anon40" minOccurs="0">
				</xs:element>
			<xs:choice>
				<xs:element name="Element_Anon254" type="ComplexType_Anon41">
					</xs:element>
				<xs:element name="Element_Anon255" type="ComplexType_Anon42">
					</xs:element>
			</xs:choice>
			<xs:element name="Element_Anon256" type="ComplexType_Anon43" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon39">
		<xs:sequence>
			<xs:element name="Element_Anon257" type="SimpleType_Anon75">
				</xs:element>
			<xs:element name="Element_Anon258" type="SimpleType_Anon75">
				</xs:element>
			<xs:element name="Element_Anon259" type="SimpleType_Anon75" minOccurs="0">
				</xs:element>
			<xs:choice>
				<xs:element name="Element_Anon254" type="ComplexType_Anon41">
					</xs:element>
				<xs:element name="Element_Anon255" type="ComplexType_Anon42">
					</xs:element>
			</xs:choice>
			<xs:element name="Element_Anon256" type="ComplexType_Anon43" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon40">
		<xs:sequence>
			<xs:element name="Element_Anon260" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon261" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon262" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon263" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon264" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon265" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon266" type="SimpleType_Anon72" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon41">
		<xs:sequence>
			<xs:element name="Element_Anon267" type="SimpleType_Anon79">
				</xs:element>
			<xs:element name="Element_Anon169" type="SimpleType_Anon62">
				</xs:element>
			<xs:element name="Element_Anon268" type="SimpleType_Anon76">
				</xs:element>
			<xs:element name="Element_Anon269" type="SimpleType_Anon72">
				</xs:element>
			<xs:element name="Element_Anon270" type="SimpleType_Anon100">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon42">
		<xs:sequence>
			<xs:element name="Element_Anon267" type="SimpleType_Anon79">
				</xs:element>
			<xs:element name="Element_Anon271" type="SimpleType_Anon76">
				</xs:element>
			<xs:element name="Element_Anon269" type="SimpleType_Anon72">
				</xs:element>
			<xs:element name="Element_Anon270" type="SimpleType_Anon100">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon43">
		<xs:sequence>
			<xs:element name="Element_Anon272" type="SimpleType_Anon71" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon273" type="SimpleType_Anon71" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon274" type="SimpleType_Anon77" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon275" type="SimpleType_Anon77" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon276" type="SimpleType_Anon75" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon277" type="SimpleType_Anon60" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon278" type="SimpleType_Anon69" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon279" type="SimpleType_Anon77" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon44">
		<xs:sequence>
			<xs:element name="Element_Anon280" type="ComplexType_Anon45" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon45">
		<xs:sequence>
			<xs:element name="Element_Anon281" type="SimpleType_Anon68" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon282" type="SimpleType_Anon87" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon257" type="SimpleType_Anon75" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon258" type="SimpleType_Anon75" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon259" type="SimpleType_Anon75" minOccurs="0">
				</xs:element>
			<xs:choice>
				<xs:element name="Element_Anon254" type="ComplexType_Anon41">
					</xs:element>
				<xs:element name="Element_Anon255" type="ComplexType_Anon42">
					</xs:element>
			</xs:choice>
			<xs:element name="Element_Anon256" type="ComplexType_Anon43" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon283" type="SimpleType_Anon70" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon284" type="SimpleType_Anon70" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon285" type="SimpleType_Anon81" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon46">
		<xs:sequence>
			<xs:element name="Element_Anon286" type="ComplexType_Anon47" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon47">
		<xs:sequence>
			<xs:element name="Element_Anon287" type="SimpleType_Anon81">
				</xs:element>
			<xs:element name="Element_Anon288" type="SimpleType_Anon67" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon289" type="SimpleType_Anon67">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon48">
		<xs:sequence>
			<xs:element name="Element_Anon290" type="ComplexType_Anon49" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon49">
		<xs:sequence>
			<xs:element name="Element_Anon291" type="SimpleType_Anon81">
				</xs:element>
			<xs:element name="Element_Anon292" type="SimpleType_Anon67" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon293" type="SimpleType_Anon67">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon50">
		<xs:sequence>
			<xs:element name="Element_Anon137" type="ComplexType_Anon51" maxOccurs="unbounded">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon51">
		<xs:sequence>
			<xs:element name="Element_Anon294" type="SimpleType_Anon99">
				</xs:element>
			<xs:element name="Element_Anon295" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon296" type="ComplexType_Anon53">
				</xs:element>
			<xs:element name="Element_Anon297" type="ComplexType_Anon53" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon52">
		<xs:sequence>
			<xs:element name="Element_Anon294" type="SimpleType_Anon99">
				</xs:element>
			<xs:element name="Element_Anon295" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon296" type="ComplexType_Anon53">
				</xs:element>
			<xs:element name="Element_Anon297" type="ComplexType_Anon53" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon298" type="ComplexType_Anon53" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon299" type="ComplexType_Anon53" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon300" type="SimpleType_Anon66" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon301" type="ComplexType_Anon53" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ComplexType_Anon53">
		<xs:sequence>
			<xs:element name="Element_Anon302" type="SimpleType_Anon67">
				</xs:element>
			<xs:element name="Element_Anon303" type="SimpleType_Anon66" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon54">
		<xs:sequence>
			<xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon55">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Element_Anon304" type="SimpleType_Anon82">
					</xs:element>
				<xs:element name="Element_Anon305" type="SimpleType_Anon82">
					</xs:element>
			</xs:choice>
			<xs:element name="Element_Anon306" type="SimpleType_Anon77" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon307" type="SimpleType_Anon77" minOccurs="0">
				</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="Element_Anon308" type="ComplexType_Anon41" minOccurs="0">
					</xs:element>
				<xs:element name="Element_Anon309" type="ComplexType_Anon42" minOccurs="0">
					</xs:element>
			</xs:choice>
			<xs:element name="Element_Anon310" type="SimpleType_Anon65" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon56">
		<xs:sequence>
			<xs:element name="Element_Anon311" type="xs:date">
				</xs:element>
			<xs:element name="Element_Anon312" type="xs:date">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon57">
		<xs:sequence>
			<xs:element name="Element_Anon313" type="SimpleType_Anon76">
				</xs:element>
			<xs:element name="Element_Anon314" type="SimpleType_Anon79" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon315" type="SimpleType_Anon76">
				</xs:element>
			<xs:element name="Element_Anon316" type="ComplexType_Anon58" minOccurs="0">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon58">
		<xs:sequence>
			<xs:element name="Element_Anon317" type="SimpleType_Anon72">
				</xs:element>
			<xs:element name="Element_Anon318" type="SimpleType_Anon80" minOccurs="0">
				</xs:element>
			<xs:element name="Element_Anon319" type="SimpleType_Anon80">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplexType_Anon59">
		<xs:sequence>
			<xs:element name="Element_Anon320" type="SimpleType_Anon81">
				</xs:element>
			<xs:element name="Element_Anon321" type="SimpleType_Anon67">
				</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	
	
	
	<xs:simpleType name="SimpleType_Anon60">
		<xs:restriction base="xs:string">
			<xs:length value="5" />
			<xs:pattern value="\d{5}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon61">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon62">
		<xs:restriction base="xs:string">
			<xs:length value="5" />
			<xs:pattern value="[0-9]*">
				</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon63">
		<xs:restriction base="xs:string">
			<xs:length value="6" />
			<xs:pattern value="[0-9]*">
				</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon64">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
			<xs:pattern value="[0-9]*">
				</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon65">
		<xs:restriction base="xs:string">
			<xs:length value="11" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon66">
		<xs:restriction base="xs:double">
			<xs:pattern value="-?[0-9]+\.[0-9]{2}">
				</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon67">
		<xs:restriction base="xs:double">
			<xs:pattern value="-?[0-9]+(\.[0-9]{1,8})?">
				</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon68">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon69">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon70">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon71">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon72">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon73">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon74">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon75">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon76">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon77">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon78">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon79">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon80">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon81">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2500" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon82">
		<xs:restriction base="xs:string">
			<xs:minLength value="5" />
			<xs:maxLength value="34" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon83">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon84">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon85">
		<xs:restriction base="xs:string">
			<xs:minLength value="3" />
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon86">
		<xs:restriction base="xs:string">
			<xs:minLength value="13" />
			<xs:maxLength value="14" />
		</xs:restriction>
	</xs:simpleType>
	
	
	
	<xs:simpleType name="SimpleType_Anon87">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon88">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon89">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon90">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon91">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon92">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon93">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon94">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon95">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon96">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon97">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon98">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon99">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon100">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon101">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon102">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon103">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleType_Anon104">
		<xs:restriction base="xs:string">
			</xs:restriction>
	</xs:simpleType>
</xs:schema>