tests/complex_types.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="Street" type="xs:string"/>
            <xs:element name="City" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string"/>
                <xs:element name="Address" type="AddressType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

