tests/relationships.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Department">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DeptName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EmpName" type="xs:string"/>
                <xs:element name="DepartmentRef" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
